<script>
  export let half = false;
  export let error;
</script>

<style>
  .error {
    width: 49%;
    height: 100vh;
    background: red;
    padding: 15px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }

  h1,
  h2 {
    color: white;
  }

  h1 {
    font-size: 2rem;
    margin: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: bolder;
  }

  .index_pallet_label {
    display: inline-block;
    width: 35%;
  }

  .defect_label {
    display: inline-block;
    width: 64%;
    text-align: right;
  }

  
</style>

<div class="error">
  <div>
    <div>
    <h1 class="index_pallet_label">Индекс палета:</h1>
    {#if error.productionDefect}
      <h2 class="defect_label ">БРАК</h2>
    {/if}
    {#if error.warehouseDefect}
      <h2 class="defect_label">БРАК В СКЛАДЕ</h2>
    {/if}
    </div>
    <h2>{error.palletIndex}</h2>

  </div>
  <div>
    <h1>Наименование:</h1>
    <h2>{error.nomenclature}</h2>
  </div>
  <div>
    <h1>Дата выпуска:</h1>
    <h2>{error.date}</h2>
  </div>
  <div>
    <h1>Производство:</h1>
    <h2>{error.productionCount}</h2>
  </div>
  <div>
    <h1>Склад:</h1>
    <h2>{error.warehouseCount}</h2>
  </div>
</div>
