<script>
  export let time = "";
  export let half = false;
</script>

<style>
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 4rem;
    background: #2d00cf;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  }

  .width-50 {
    width: 50%;
  }

  h1 {
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    margin: 0;
    word-wrap: break-word;
  }

  .col-1 {
    flex: -1 0 18%;
    max-width: 18%;
    position: relative;
    width: 100%;
    padding-right: 10px;
  }

  .text-center {
    text-align: center;
  }

  .col-2 {
    flex: 0 0 45%;
    max-width: 45%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-3 {
    flex: -1 0 9%;
    max-width: 9%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-4,
  .col-5 {
    flex: -1 0 14%;
    max-width: 14%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
</style>

<div class={half ? 'header width-50' : 'header'}>
  <div class="col-1">
    <h1>{time} &nbsp; Индекс</h1>
  </div>
  <div class="col-2 ">
    <h1>Наименование</h1>
  </div>
  <div class="col-3 text-center">
    <h1>Время</h1>
  </div>
  <div class="col-4 text-center">
    {#if half}
      <h1>Произв-во</h1>
    {:else}
      <h1>Производство</h1>
    {/if}
  </div>
  <div class="col-5 text-center">
    <h1>Склад</h1>
  </div>
</div>
