<script>
  import { createEventDispatcher } from "svelte";
  import { fly, fade } from "svelte/transition";

  export let title;

  const dispatch = createEventDispatcher();

  function closeModal() {
    dispatch("cancel");
  }
</script>

<style>
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
  }

  .modal {
    position: fixed;
    top: 10vh;
    left: 20%;
    width: 60%;
    max-height: 80vh;
    background: white;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    /* overflow: scroll; */
  }

  .header {
    /* background: #d9534f; */
      /* background: #d9534f; */
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }

  h1 {
    padding: 1rem;
    margin: 0;
    border-bottom: 1px solid #ccc;
  }

  .content {
    padding: 1rem;
  }


  footer {
    padding: 1rem;
  }


</style>

<div transition:fade class="modal-backdrop" on:click={closeModal} />
<div transition:fly={{ y: 300 }} class="modal">
  <div class='header'>
      <h1>{title}</h1>
  </div>
  <div class="content">
    <slot />
  </div>
  <footer>
    <slot name="footer">
    </slot>
  </footer>
</div>
