<script>
  import { onDestroy, onMount } from "svelte";
  import Header from "./UI/Header.svelte";
  import data from "./DAL/data-store.js";
  import PalletsGrid from "./Pallets/PalletsGrid.svelte";
  import PalletEvent from "./Pallets/PalletEvent.svelte";
  import isProblem from "./BL/isproblem.js";
  import Error from "./UI/Error.svelte";
  import { getAddedPallets, getDeletedPallets } from "./BL/pallets.js";

  const eventTimeout = 3;

  let pallets = [];
  let events = [];
  let errors = [];
  let addedPallets = [];
  let deletedPallets = [];
  let addedEvent;
  let deletedEvent;
  let half = false;
  let eventShown = 0;
  let time = "";
  let audio = new Audio("alarm.wav");

  const unsubscribe = data.subscribe(items => {
    try {
      if (items) {
        let newPallets = getAddedPallets(
          pallets,
          items.pallets ? items.pallets : []
        );
        addedPallets = [...addedPallets, ...newPallets];

        newPallets = getDeletedPallets(pallets, items.pallets);
        deletedPallets = [...deletedPallets, ...newPallets];

        pallets = [...items.pallets];
        events = [...items.events];
        errors = [];

        for (let i = 0; i < pallets.length; i++) {
          if (isProblem(pallets[i])) {
            errors.push(pallets[i]);
          }
        }

        half = errors.length > 0;

        let currentTime = new Date();
        let minutes = currentTime.getMinutes().toString();
        time =
          currentTime.getHours().toString() +
          ":" +
          (minutes.length > 1 ? minutes : "0" + minutes);

        if (errors.length > 0) {          
          audio.play();
        }

        showEvent();
      }
    } catch (err) {
      alert(err);
    }
  });

  function showEvent() {
    if ((deletedEvent || addedEvent) && eventShown < 1) {
      hideEvent();
      return;
    }

    if (eventShown > 0) {
      eventShown--;
      return;
    }

    if (addedPallets.length > 0) {
      addedEvent = addedPallets.shift();
      eventShown = eventTimeout;
      return;
    }

    if (deletedPallets.length > 0) {
      deletedEvent = deletedPallets.shift();
      eventShown = eventTimeout;
      return;
    }
  }

  function hideEvent() {
    deletedEvent = null;
    addedEvent = null;
  }

  onDestroy(() => {
    if (unsubscribe) {
      unsubscribe();
    }
  });
</script>

<style>
  .pallets {
    padding-top: 5rem;
    width: 100%;
    height: 100vh;
    display: inline-block;
    vertical-align: top;
  }

  .width-50 {
    width: 50%;
  }
</style>

<main>

  {#if addedEvent}
    <PalletEvent
      pallet={addedEvent}
      title={addedEvent.productionCount > 0 ? 'ВЫПУЩЕНО' : 'БРАК В СКЛАДЕ'}
      on:cancel={() => {
        addedEvent = null;
      }} />
  {/if}

  {#if deletedEvent}
    <PalletEvent
      pallet={deletedEvent}
      title="ПРИНЯТО"
      on:cancel={() => {
        deletedEvent = null;
      }} />
  {/if}

  <div>
    {#if errors.length < 2}
      <div class={half ? 'pallets width-50' : 'pallets'}>
        <Header {half} {time} />
        <PalletsGrid {pallets} />
      </div>
    {/if}

    {#if errors.length > 0}
      <Error {half} error={errors[0]} />
    {/if}
    {#if errors.length > 1}
      <Error {half} error={errors[1]} />
    {/if}

  </div>

</main>
