<script>
  import Modal from "../UI/Modal.svelte";

  export let pallet;
  export let title;
</script>

<style>
  .modal_h1 {
    font-size: 2rem;
    margin: 0;
  }

  .modal_h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: bolder;
  }
</style>

<Modal title={title} on:cancel>
  <div>
    <h1 class="modal_h1">Индекс палета:</h1>
    <h2 class="modal_h2">{pallet.palletIndex}</h2>
  </div>
  <div>
    <h1 class="modal_h1">Наименование:</h1>
    <h2 class="modal_h2">{pallet.nomenclature}</h2>
  </div>
  <div>
    <h1 class="modal_h1">Дата выпуска:</h1>
    <h2 class="modal_h2">{pallet.date}</h2>
  </div>
  <div>
    <h1 class="modal_h1">Производство:</h1>
    <h2 class="modal_h2">{pallet.productionCount}</h2>
  </div>
  <div>
    <h1 class="modal_h1">Склад:</h1>
    <h2 class="modal_h2">{pallet.warehouseCount}</h2>
  </div>
</Modal>
