<script>
  export let id;
  export let palletIndex;
  export let date;
  export let title;
  export let productionCount;
  export let warehouseCount;

</script>

<style>
  article {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    background: white;
    display: flex;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;
  }

  h1 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
    font-family: "Roboto Slab", sans-serif;
  }

  .col-1 {
    flex: -1 0 18%;
    max-width: 18%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .text-center {
    text-align: center;
  }

  .col-2 {
    flex: 0 0 45%;
    max-width: 45%;
    position: relative;
    width: 100%;
    padding-right: 15px;
  }

  .col-3 {
    flex: -1 0 9%;
    max-width: 9%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-4, .col-5 {
    flex: -1 0 14%;
    max-width: 14%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

</style>

<article>
  <div class="col-1 text-center">
    <h1>{palletIndex}</h1>
  </div>
  <div class="col-2">
    <h1>{title}</h1>
  </div>
  <div class="col-3 text-center">
    <h1>{date}</h1>
  </div>
  <div class="col-4 text-center">
    <h1>{productionCount}</h1>
  </div>
  <div class="col-5 text-center">
    <h1>{warehouseCount}</h1>
  </div>
</article>
