<script>
  import PalletItem from "./PalletItem.svelte";
  import ProblemPalletItem from "./ProblemPalletItem.svelte";
  import { cubicInOut } from "svelte/easing";
  import fadeScale from "../UI/svelte-transitions-fade-scale.js";
  import { flip } from "svelte/animate";
  import isProblem from "../BL/isproblem.js";

  export let pallets;
</script>

<style>
  section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-gap: 1rem; */
  }
</style>

<section id="pallets">
  {#each pallets as pallet (pallet.id)}
    <div
      transition:fadeScale={{ delay: 250, duration: 1000, easing: cubicInOut, baseScale: 0, key: pallet.id }}
      animate:flip>
      {#if isProblem(pallet)}
        <ProblemPalletItem
          id={pallet.id}
          palletIndex={pallet.palletIndex}
          title={pallet.nomenclature}
          date={pallet.date.substring(9)}
          productionCount={pallet.productionCount}
          warehouseCount={pallet.warehouseCount} />
      {:else}
        <PalletItem
          id={pallet.id}
          palletIndex={pallet.palletIndex}
          title={pallet.nomenclature}
          date={pallet.date.substring(9)}
          productionCount={pallet.productionCount}
          warehouseCount={pallet.warehouseCount} />
      {/if}
    </div>
  {/each}
</section>
