@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;  
  /* font-family: 'Lato', sans-serif; */
  font-family: "Roboto Slab", sans-serif;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  background: #f6f6f6;
}